.edit-player-container {

  padding: 2rem;
}

.edit-player {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

.edit-player-inputs {
  columns: 2;
}

.create-player-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.close-create-player:before {
  content: 'x';
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;
}

.playerInput {

}
