.league-import {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.dropzone {
  padding: 10px;
  margin: 10px 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px dotted black;
}
